#menu {
    position: absolute;
    top: 0;
    left: -1000px;
    z-index: 1;
    background-color: white;
    width: 200px;
}
@media (min-width:576px) {
}
@media (min-width:768px) {
}
@media (min-width:992px) {
}
@media (min-width:1200px) {
}
