.btn-outline-green {
    border: 1px solid green;
    color: green;
}

.btn-outline-green:hover {
    border: 1px solid green;
    color: green;
}

tr > td:first-of-type {
    width: 125px;
}

.d-flex > .text-right {
    width: 60px;
    min-width: 60px;
}

textarea {
    width: 100%;
    resize: none;
    overflow-y: hidden;
}