@media (min-width:576px) {
}
@media (min-width:768px) {
}
@media (min-width:992px) {
}
@media (min-width:1200px) {
}
.btn-outline-info {
    background-color: white;
    color: blue;
}
.btn-outline-warning {
    background-color: white;
    color: orangered;
}
.btn-outline-danger {
    background-color: white;
    color: red;
}
/**/
.btn-status-custom {
    position: relative;
    min-width: 200px;
    background: #FFFFFF;
    border: 2px solid #3AD2D0;
    transform: translate3d(0px, 0%, 0px);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition-delay: 0.6s;
    overflow: hidden;
    padding: 10px 20px;
}

    .btn-status-custom:before,
    .btn-status-custom:after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        transition: all 0.6s ease;
    }

    .btn-status-custom:before {
        background: #3AD2D0;
        border-radius: 50% 50% 0 0;
        transform: translateY(100%) scaleY(0.5);
    }

    .btn-status-custom:after {
        background: #FFFFFF;
        border-radius: 0;
        transform: translateY(0) scaleY(1);
    }

    .btn-status-custom div {
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 32px;
        text-transform: uppercase;
        overflow: hidden;
    }

    .btn-status-custom span {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        z-index: 1;
        text-align: center;
        transition: transform 0.5s ease;
    }

        .btn-status-custom span:first-child {
            color: #FFFFFF;
            transform: translateY(24px);
        }

        .btn-status-custom span:last-child {
            color: #1E0F21;
            transform: translateY(0);
        }

    .btn-status-custom:hover {
        background: #3AD2D0;
        transition: background 0.2s linear;
        transition-delay: 0.6s;
        color: #FFFFFF;
    }

        .btn-status-custom:hover:after {
            border-radius: 0 0 50% 50%;
            transform: translateY(-100%) scaleY(0.5);
            transition-delay: 0;
        }

        .btn-status-custom:hover:before {
            border-radius: 0;
            transform: translateY(0) scaleY(1);
            transition-delay: 0;
        }

        .btn-status-custom:hover span:first-child {
            transform: translateY(0);
        }

        .btn-status-custom:hover span:last-child {
            transform: translateY(-32px);
        }
/**/
/**/
.fancytable {
    border: 1px solid #cccccc;
    width: 100%;
    border-collapse: collapse;
}

    .fancytable td {
        border: 1px solid #cccccc;
        color: #555555;
        text-align: center;
        line-height: 28px;
    }

.headerrow {
    background-color: #0066cc;
}

    .headerrow td {
        color: #ffffff;
        text-align: center;
    }

.fancytable > tbody:nth-child(odd) {
    background-color: #ffffff;
}

.fancytable > tbody:nth-child(even) {
    background-color: #efefef;
}

.fancytable > tbody:nth-child(odd) td {
    background-color: #ffffff;
}

    .fancytable > tbody:nth-child(even) td {
        background-color: #efefef;
    }
.sexyborder {
    border: 1px solid #0066cc;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/**/