.product-card {
    border: 2px solid orange;
    border-radius: 15px;
    background-color: #80808025;
}
.action{
    width: 100%;
}
.gap-5px {
    gap: 5px;
}
.status > li > a {
    font-size: 18px;
    color: black;
}
@media (min-width:576px) {
}
@media (min-width:768px) {
    .action {
        min-width: 150px;
        max-width: 150px;
    }
}
@media (min-width:992px) {
}
@media (min-width:1200px) {
}
