@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var route = ViewContext.RouteData;
    string controller = route.Values["controller"] != null ? route.Values["controller"].ToString() : "";
    string action = route.Values["action"] != null ? route.Values["action"].ToString() : "";
}
<nav class="bg-white border-bottom box-shadow d-flex p-3" style="position: relative;">
    @if (controller == "Seller" || (controller == "Account" && (action == "Details" || action == "ChangePassword" || action == "ChangeUserInfo")))
    {
        <i class="bi bi-list mr-2" id="hamber" style="font-size: 26px;"></i>
    }
    <a class="text-dark d-block text-decoration-none p-1" asp-area="" asp-controller="Seller" asp-action="Index" style="font-size: 20px;"><strong>二手書平台-賣家中心</strong></a>
    <p class="flex-grow-1"></p>
    <div>
        <partial name="_LoginStatusPartial" />
    </div>
</nav>