@{
    string title = ViewData["Title"].ToString();
}

<div class="container-fluid">
    @if (!String.IsNullOrEmpty(ViewData["Title"].ToString()))
    {
        <h1 class="text-bg-danger">@ViewData["Title"]</h1>
    }

    @if (!String.IsNullOrEmpty(ViewData["Message"].ToString()))
    {
        <p>@ViewData["Message"]</p>
    }
</div>