@model List<int>
@{
    ViewData["Title"] = "管理員與使用者占比";
}
<link href="~/css/chartview.css" rel="stylesheet" />
<div class="sidebar">
    <ul class="menu">
        <li class="menu-item">
            <a asp-controller="Administratorlist" asp-action="Adminlist" class="navtext">管理員人員名單</a>
        </li>
        <li class="menu-item">
            <a asp-controller="AdministratorProfile" asp-action="AdministratorData" class="navtext">管理人員控管</a>
        </li>
        <li class="menu-item">
            <a asp-controller="AdminToUser" asp-action="UserData" class="navtext">使用者控管</a>
        </li>
        <li class="menu-item">
            <a asp-controller="AdminCharts" asp-action="ChartsView" class="navtext" style="background-color: white; color:black;">管理員與使用者占比</a>
        </li>
        <li class="menu-item">
            <a asp-controller="GetCpu" asp-action="CPUView" class="navtext">當前進程CPU與記憶體使用率</a>
        </li>
        <li class="menu-item">
            <a asp-controller="AdministratorHomePage" asp-action="AdminIndex" class="navtext">主頁面更新</a>
        </li>
        <li class="menu-item">
            <a asp-controller="Account" asp-action="RegisterFromCSV" class="navtext">使用者批量管理</a>
        </li>
    </ul>
</div>


<div>
    <div>
        <div class="">管理員佔比</div>
        <div>使用者佔比</div>
    </div>
</div>






























<div style="display:flex;">
    <div style="width: 30%; margin:auto;">
    </div>
    <div class="content">
        <div style="display: flex;">
            <div style="width: 800px; height: 500px; margin-right: 20px;">
                <canvas id="AdminPermissionsChart"></canvas>
            </div>
            <div style="width: 800px; height: 500px;">
                <canvas id="UserDataChart"></canvas>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var adminData = @Html.Raw(ViewBag.AdminData);
        var userData = @Html.Raw(ViewBag.UserData);

        var adminCtx = document.getElementById("AdminPermissionsChart");
        var userCtx = document.getElementById("UserDataChart");

        var adminChart = new Chart(adminCtx, {
            type: "pie",
            data: {
                labels: ["一級管理員", "二級管理員", "已停權"],
                datasets: [{
                    data: adminData,
                    backgroundColor: [
                        "LightSkyBlue",
                        "LightPink",
                        "LightGray"
                    ],
                }]
            },
            options: {
                maintainAspectRatio: false,
                responsive: true,
                plugins: {
                    legend: {
                        position: 'left',
                        boxWidth: 80
                    }
                }
            }
        });

        var userChart = new Chart(userCtx, {
            type: "pie",
            data: {
                labels: ["賣家", "買家", "已停權"],
                datasets: [{
                    data: userData,
                    backgroundColor: [
                        "LightSkyBlue",
                        "LightPink",
                        "LightGray"
                    ],
                }]
            },
            options: {
                maintainAspectRatio: false,
                responsive: true,
                plugins: {
                    legend: {
                        position: 'left',
                        boxWidth: 80
                    }
                }
            }
        });
    </script>
}
