@using CoreMVC5_UsedBookProject.ViewModel;
@model ProductViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "刪除商品";
}
<div class="container-fluid">
    <h1>刪除商品</h1>
    <div class="row">
        <div class="mb-3 p-2" style="width: 100%; aspect-ratio: 1 / 1; max-width: 200px; background: white; border: 1px solid black;">
            <img src="../Images/@Model.ProductId/@Model.Image1" class="m-auto d-block reload-by-datetime" onload="imgMaxAuto(this)" alt="@Model.Title" />
        </div>
    </div>
    <form action="~/Seller/Delete" method="post">
        <partial name="~/Views/Seller/DetailTablePartial/ProductInformation.cshtml" />
        <partial name="~/Views/Seller/DetailTablePartial/SaleInformation.cshtml" />
        <partial name="~/Views/Seller/DetailTablePartial/OtherInformation.cshtml" />
        <input type="hidden" name="ProductId" class="form-control" value="@Model.ProductId" readonly />
        <br />
        <div class="gap-2">
            <button type="submit" name="submit" class="btn btn-danger" value="刪除"><i class="bi bi-trash"></i> 刪除</button>
            <button type="button" onclick="history.go(-1)" class="btn btn-secondary disable-onbeforeunload">取消</button>
        </div>
    </form>
</div>
@section topCSS{
    <link href="~/css/seller/detailtablepartial.css" rel="stylesheet" />
}
@section topJS{
    <script src="~/js/seller/imgmaauto.js"></script>
}
@section endJS{
    <script src="~/js/seller/detailtablepartial.js"></script>
    <script src="~/js/seller/reloadbydatetime.js"></script>
}