.container{
    margin:0;
}
.row{
    display:flex;
}
.sidebar {
    left: 0;
    width: 30%;
    position: fixed;
    background-color: gray;
    padding: 10px;
}
.navtext {
    font-size: 30px;
    text-align: center;
}
.menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    gap: 5px;
    justify-content: space-around;
}
.menu-item a {
    display: block;
    padding: 5px;
    color: white;
    text-decoration: none;
}
.menu-item a:hover {
     background-color: white;
     color: black;
}
.AdministratorProfile {
    background-color: white;
}
.AdministratorProfile a {
    display: block;
    padding: 5px;
    color: black;
    text-decoration: none;
}