.nav-item,
.nav-item *,
.nav-item :after,
.nav-item :before,
.nav-item:after,
.nav-item:before {
    border: 0 solid;
    box-sizing: border-box;
}

.nav-item {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    box-shadow: inset 0 0 0 2px #fff;
    box-sizing: border-box;
    display: inline-block;
    font-weight: 900;
    position: relative;
    transition: color 0.1s linear;
    background-color: white;
    color: black;
    margin: 0px 5px;
    padding: 10px 20px;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
}

    .nav-item:after,
    .nav-item:before {
        content: "";
        position: absolute;
        z-index: -1;
    }

    .nav-item:before {
        border-bottom: var(--border);
        border-top: var(--border);
        height: 100%;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }

    .nav-item:hover:before,
    .nav-item.clicked:before {
        --border: 1.5px solid #a0cfff;
        width: 100%;
        z-index: 0;
        animation: border-top-and-bottom 1s forwards;
    }

    .nav-item:after {
        border-left: var(--border);
        border-right: var(--border);
        bottom: 50%;
        right: 0;
        transform: translateY(50%);
        width: 100%;
    }

    .nav-item:hover:after,
    .nav-item.clicked:after {
        --border: 1.5px solid #a0cfff;
        height: 100%;
        animation: border-right-and-left 1s forwards;
    }

@keyframes border-top-and-bottom {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes border-right-and-left {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

.btn-login-view {
    color: white;
    background-color: blue;
    transition: background-color 0.3s, color 0.3s;
}

    .btn-login-view:hover {
        border: 1px solid blue;
        background-color: transparent;
        color: blue;
    }

.btn-logout-view {
    color: white;
    background-color: red;
    transition: background-color 0.3s, color 0.3s;
}

    .btn-logout-view:hover {
        border: 1px solid red;
        background-color: transparent;
        color: red;
    }

.login-info {
    display: flex;
    align-items: center;
}

.login-name {
    margin-right: 5px;
}

.spacer {
    width: 5px;
}

.btn-login{
    border-color: blue;
    background-color: white;
    color: blue;
    transition: background-color 1.5s, color 1.5s, border-color 1.5s;
    opacity: 0;
}

    .btn-login.show {
        opacity: 1;
        background-color: white;
        color: blue;
        border-color: blue;
    }

    .btn-login:hover {
        border-color: blue;
        background-color: white;
        color: blue;
    }

.btn-logout {
    color: white;
    background-color: red;
    border: 1px solid transparent;
    transition: background-color 1.5s, color 1.5s, border-color 1.5s;
    opacity: 0;
}

    .btn-logout.show {
        opacity: 1;
        background-color: white;
        color: red;
        border-color: red;
    }

.logintext {
    font-size: 24px;
}

.button-cover,
.button-cover-nav {
    position: relative;
}

.buttonpartial .btn-login,
.buttonpartial .btn-logout {
    transition-delay: 1.5s;
    cursor: default;
}

.nav-item-btn {
    display: inline-block;
    margin-left: auto;
    cursor: default;
}

.nav-item {
    position: relative;
}

    .nav-item .btn-login,
    .nav-item .btn-logout {
        position: absolute;
        top: 0;
        left: 0;
    }

    .nav-item.hovered .btn-login,
    .nav-item.hovered .btn-logout {
        opacity: 0;
    }

        .nav-item.hovered .btn-login.show {
            opacity: 1;
            transition-delay: 0s;
        }

        .nav-item.hovered .btn-logout.show {
            opacity: 1;
            transition-delay: 0s;
        }

    .nav-item:hover .btn-login,
    .nav-item:hover .btn-logout {
        opacity: 1;
        transition-delay: 1.5s;
    }
.container-footer{
    display:flex;
    padding-right:0.3%;
}