@using CoreMVC5_UsedBookProject.ViewModels;
@model List<WishViewModel>
<div class="container-fluid">
    <h2>願望清單</h2>
    <form method="post" enctype="multipart/form-data" action="/Buyer/AddBook">
        <div>
            <label for="title">書名:</label>
            <input type="text" id="title" name="title" required />
        </div>
        <div>
            <label for="isbn">ISBN:</label>
            <input type="text" id="isbn" name="isbn" required />
        </div>

        <button type="submit" class="btn btn-outline-primary">增至許願井</button>
    </form>


    @if (Model.Count > 0)
    {
        @foreach (var book in Model)
        {

            <div class="d-flex">
                <p>書名:@book.Title ISBN:@book.ISBN</p>
                <a href="/Buyer/DeleteBook?Id=@book.WishId" class="btn btn-danger ml-3">刪除</a>
            </div>

        }
    }
    else
    {
        <p>願望清單是空的</p>
    }


   

</div>
