@using CoreMVC5_UsedBookProject.ViewModels;
@model ProductViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "商品詳情";
}
<div class="container mt-2">
    <h1>商品詳情</h1>
    <partial name="~/Views/Seller/DetailsTablePartial/Swiper.cshtml" />
    <form action="~/Buyer/Details" method="post">
        <partial name="~/Views/Seller/DetailsTablePartial/ProductInformation.cshtml" />
        <partial name="~/Views/Seller/DetailsTablePartial/SaleInformation.cshtml" />
        <partial name="~/Views/Seller/DetailsTablePartial/OtherInformation.cshtml" />
        <input type="hidden" name="ProductId" class="form-control" value="@Model.ProductId" readonly />
        <input type="hidden" id="CreateBy" class="form-control" value="@Model.CreateBy" readonly />
        @if (User.Identity.IsAuthenticated)
        {
            <input type="hidden" id="MeId" class="form-control" value="@User.Identity.Name" readonly />
        }
        else
        {
            <input type="hidden" id="MeId" class="form-control" value="" readonly />
        }
    </form>

</div>