@using CoreMVC5_UsedBookProject.ViewModels;
@model ProductEditViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string[] list = { Model.Image2, Model.Image3, Model.Image4, Model.Image5, Model.Image6, Model.Image7, Model.Image8, Model.Image9 };
    list = list.Where(w => w != "無圖片").ToArray();
}
<div class="mb-3" style="max-width: 200px;">
    <!-- Swiper -->
    <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff;" class="swiper mySwiper2">
        <div class="swiper-wrapper">
            <div class="swiper-slide p-2 d-flex align-items-center" style="width: 100%; aspect-ratio: 1 / 1; min-width: 100px; background: white; border: 1px solid black;">
                <img src="../Images/Products/@Model.ProductId/@Model.Image1" asp-append-version="true" class="m-auto" alt="@Model.Title" onerror="errorLoad(this)" />
            </div>
            @if (list.Length > 0)
            {
                @foreach (string item in list)
                {
                    <div class="swiper-slide d-flex align-items-center" style="width: 100%; aspect-ratio: 1 / 1; min-width: 100px; background: white; border: 1px solid black;">
                        <img src="../Images/Products/@Model.ProductId/@item" asp-append-version="true" class="m-auto" onerror="errorLoad(this)" alt="@Model.Title" />
                    </div>
                }
            }
        </div>
        <div class="swiper-button-next" style="color: black;"></div>
        <div class="swiper-button-prev" style="color: black;"></div>
    </div>
    <div thumbsSlider="" class="swiper mySwiper" style="height: 64px;">
        <div class="swiper-wrapper">
            <div class="swiper-slide d-flex align-items-center">
                <img src="../Images/Products/@Model.ProductId/@Model.Image1" asp-append-version="true" class="m-auto" alt="@Model.Title" onerror="errorLoad(this)" />
            </div>
            @if (list.Length > 0)
            {
                @foreach (var item in list)
                {
                    <div class="swiper-slide d-flex align-items-center">
                        <img src="../Images/Products/@Model.ProductId/@item" asp-append-version="true" class="m-auto" onerror="errorLoad(this)" alt="@Model.Title" />
                    </div>
                }
            }
        </div>
    </div>
</div>