@model AdministratorUser
@{
    ViewData["Title"] = "管理員個人資料明細";
}

<h4 class="alert alert-danger">管理員個人資料明細</h4>



<div class="row">
    <Partial name="_AdminCardPartial" model="@Model"></Partial>
</div>

