@model IEnumerable<CoreMVC5_UsedBookProject.Models.AdministratorUser>

@{
    ViewData["Title"] = "管理員控制中心";
    Layout = "_LayoutAdminHome"; 
}
<div class="sidebar">
    <ul class="menu">
        <li class="AdministratorProfile">
            <a asp-controller="AdministratorHomePage" asp-action="Home" class="navtext">管理員人員名單</a>
        </li>
        <li class="menu-item">
            <a asp-controller="AdministratorProfile" asp-action="AdministratorData" class="navtext">管理員人員名單</a>
        </li>
        <li class="menu-item">
            <a href="#" class="navtext">按鈕3</a>
        </li>
        <li class="menu-item">
            <a href="#" class="navtext">按鈕4</a>
        </li>
        <li class="menu-item">
            <a href="#" class="navtext">按鈕5</a>
        </li>
        <li class="menu-item">
            <a href="#" class="navtext">按鈕6</a>
        </li>
    </ul>
</div>

<div style="display:flex;">
    <div style="width: 30%; padding: 300px;">
    </div>
    <div class="container">
        <div class="row">
            <div class="content">
                <h1>管理員控制中心</h1>
            </div>
        </div>
    </div>
</div>





