@{
    ViewData["Title"] = "ResultMessage";
}

<div class="container mt-2">
    @if (!String.IsNullOrEmpty(ViewData["Title"].ToString()))
    {
        <h1 class="text-bg-danger">@ViewData["Title"]</h1>
    }

    @if (!String.IsNullOrEmpty(ViewData["Message"].ToString()))
    {
        <p>@ViewData["Message"]</p>
        <a asp-controller="Account" asp-action="Login" class="btn btn-outline-primary">回到登入</a>
    }
</div>